/* /* 

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

shared style
.secondary-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
     margin: 100px 20px;
}

.text-primary{
    color:#4E47FF;
}


/* .btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
} */
/* header */


/* banner styles */

/* .banner{
    display: flex;
    justify-content: space-between;
    
}
  .banner-image{
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 0%;
} */

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.nav{
    display: flex;
    justify-content: space-between;
   
}
.logo{
    color: #4E47FF;
}
.one{
    display: flex;
    align-items: center;

}
.two{

}
.three{

}
.four{

}
.five{

}
.six{

}
.footer{
    
}